.heading{
	text-align: center;
}
h3{
	text-align: center;
}
.paragraph{
	text-align: center;
	color: #757575;
}

.this{
	height: 500px;
	width: 700px;
	background: #BDBDBD;
	margin-left: 600px; 
	padding-top: 50px;
}