<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{# each value}}
                    {{# each this}}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{this.name}}</td>
                        <td>{{this.number}}</td>
                        <td>
                            <a href="/update/{{this.id}}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        </td>
                        <td>
                            <a href="/delete/{{this.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {{/ each}}
                    {{/ each}}
                </tbody>
            </table>
            <a href="/additem" type="button">Add New Item</a>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>